<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log Analyzer</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      body {
        overflow-x: scroll;
      }

      .container {
        position: relative;
        width: 100%;
      }
      .navigation {
        position: fixed;
        width: 300px;
        height: 100%;
        background: #003147;
        transition: 0.5s;
        overflow-x: hidden;
      }

      .navigation.active {
        width: 60px;
      }

      .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      .navigation ul li {
        position: relative;
        width: 100%;
        list-style: none;
      }

      .navigation ul li:hover {
        background: #03a9f4;
      }

      .navigation ul li a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: #fff;
      }

      .navigation ul li a .icon {
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
      }

      .navigation ul li a .icon .fa {
        color: #fff;
        font-size: 24px;
      }

      .navigation ul li a .title {
        position: relative;
        display: block;
        padding: 0 10px;
        height: 60px;
        line-height: 60px;
        white-space: nowrap;
      }

      .main {
        position: absolute;
        width: calc(100% - 300px);
        left: 300px;
        min-height: 100vh;
        background: #f5f5f5;
        transition: 0.5s;
      }

      .main.active {
        width: calc(100% - 60px);
        left: 60px;
      }

      .main .topbar {
        width: 100%;
        background: #fff;
        height: 60px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .toggle {
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
      }

      .toggle::before {
        content: "\f0c9";
        font-family: fontAwesome;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 60px;
        font-size: 24px;
        text-align: center;
        color: #111;
      }

      .serach {
        position: relative;
        width: 400px;
        margin: 0 10px;
      }

      .serach label {
        position: relative;
        width: 100%;
      }

      .serach label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      .serach label .fa {
        position: absolute;
        left: 15px;
        top: 4px;
      }

      .cardBox {
        position: relative;
        width: 100%;
        padding: 20px;
        display: flexbox;
      }

      .cardBox .card {
        position: relative;
        background: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }

      .cardBoxVisualize {
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 20px;
      }

      .cardBoxVisualize .card {
        position: relative;
        background: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      td.eventClass {
        text-align: center;
      }
      @media screen and (max-width: 1000px) {
        .cardBoxVisualize {
          position: relative;
          width: 100%;
          padding: 20px;
          display: grid;
          grid-template-columns: repeat(1, 2fr);
          grid-gap: 20px;
        }
      }
      @media screen and (min-width: 1000px) {
        .cardBoxVisualize {
          position: relative;
          width: 100%;
          padding: 20px;
          display: grid;
          grid-template-columns: repeat(2, 2fr);
          grid-gap: 20px;
        }
      }
    </style>

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <ul>
          <li style="margin-top: 3rem">
            <a href="javascript:history.back()">
              <span class="icon"
                ><i class="fa fa-globe" aria-hidden="true"></i
              ></span>
              <span class="title">Discover</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><i class="fa fa-bar-chart" aria-hidden="true"></i
              ></span>
              <span class="title">Visualize</span>
            </a>
          </li>
          <h4
            c
            style="
              color: #fff;
              margin-top: 3rem;
              margin-left: 0.3rem;
              margin-bottom: 1rem;
            "
          >
            Reports
          </h4>
          <li>
            <a href="/JSONoutput/user-report-<%= logid %>.json" download>
              <span class="icon"
                ><i class="fa fa-code" aria-hidden="true"></i
              ></span>
              <span class="title">Download Json Report</span>
            </a>
          </li>
          <li>
            <a href="/CSVoutput/user-report-<%= logid %>.csv">
              <span class="icon"
                ><i class="fa fa-file-excel-o" aria-hidden="true"></i
              ></span>
              <span class="title">Download CSV Report</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="main">
        <div class="topbar">
          <div class="toggle" onclick="toggleMenu();"></div>
          <div class="search">
            <label>
              <input type="text" placeholder="Search here" />
              <i class="fa fa-search" aria-hidden="true"></i>
            </label>
          </div>
        </div>

        <div class="cardBox">
          <div id="regions_div" style="margin: auto; width: 80%"></div>
        </div>

        <div class="cardBoxVisualize" style="margin: auto; width: 60%">
          <!-- mutliple charts -->
          <div class="card" style="max-width: 700px">
            <!-- line chart -->
            <canvas
              id="lineChart"
              style="width: 100%; max-width: 600px"
            ></canvas>
          </div>
          <div class="card" style="max-width: 400px">
            <!-- pie chart -->
            <canvas id="pieChart" style="width: 50%; max-width: 400px"></canvas>
          </div>
          <div class="card" style="max-width: 500px">
            <!-- doughnut -->
            <canvas id="doughnut" style="width: 50%; max-width: 500px"></canvas>
          </div>
          <div class="card" style="max-width: 400px">
            <!-- barchart -->
            <canvas id="barChart" style="width: 50%; max-width: 400px"></canvas>
          </div>
        </div>
      </div>
    </div>

    <script>
      function toggleMenu() {
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");
        toggle.classList.toggle("active");
        navigation.classList.toggle("active");
        main.classList.toggle("active");
      }
    </script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
      var xyValues = [
        { x: 50, y: 7 },
        { x: 60, y: 8 },
        { x: 70, y: 8 },
        { x: 80, y: 9 },
        { x: 90, y: 9 },
        { x: 100, y: 9 },
        { x: 110, y: 10 },
        { x: 120, y: 11 },
        { x: 130, y: 14 },
        { x: 140, y: 14 },
        { x: 150, y: 15 },
      ];

      new Chart("lineChart", {
        type: "scatter",
        data: {
          datasets: [
            {
              pointRadius: 4,
              pointBackgroundColor: "rgb(0,0,255)",
              data: xyValues,
            },
          ],
        },
        options: {
          legend: { display: false },
          scales: {
            xAxes: [{ ticks: { min: 40, max: 160 } }],
            yAxes: [{ ticks: { min: 6, max: 16 } }],
          },
        },
      });
    </script>
    <script>
      var datax = "<%=pieX%>";
      var datay = "<%=pieY%>";
      var xValues = datax.split(",");
      var yValues = datay.split(",");
      var barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145"];

      new Chart("pieChart", {
        type: "pie",
        data: {
          labels: xValues,
          datasets: [
            {
              backgroundColor: barColors,
              data: yValues,
            },
          ],
        },
        options: {
          title: {
            display: true,
            text: "Browser with versions",
          },
        },
      });
    </script>
    <script>
      var datax = "<%=doughnutX%>";
      var datay = "<%=doughnutY%>";
      var xValues = datax.split(",");
      var yValues = datay.split(",");
      var barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145"];

      new Chart("doughnut", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [
            {
              backgroundColor: barColors,
              data: yValues,
            },
          ],
        },
        options: {
          title: {
            display: true,
            text: "Request Types",
          },
        },
      });
    </script>
    <script>
      var datax = "<%=webChartX%>";
      var datay = "<%=webChartY%>";
      var xValues = datax.split(",");
      var yValues = datay.split(",");

      new Chart("barChart", {
        type: "polarArea",
        data: {
          labels: xValues,
          datasets: [
            {
              data: yValues,
            },
          ],
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "Response Time of Sever",
          },
        },
      });
    </script>

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("current", {
        packages: ["geochart"],
        mapsApiKey: "YOUR_KEY",
      });

      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ["Country", "Popularity"],
          ["Germany", 200],
          ["United States", 300],
          ["India", 500],
          ["Canada", 400],
          ["RU", 730],
        ]);
        var options = {};
        var chart = new google.visualization.GeoChart(
          document.getElementById("regions_div")
        );
        chart.draw(data, options);
      }
    </script>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
